@mixin Notification-manager() {
    .o_notification_manager {
        top: auto;
        bottom: 52px;
        right: 15px;

        .o_notification {
            box-shadow: none;
            border: 0;
            margin: 0px 0px 10px 0px;
            border-radius: 0;
            border: 0 !important;

            &.border-success, &.border-warning {
                background-color: #28a745 !important;
                color: #fff;
            }

            &.border-danger {
                background-color: #dc3545 !important;
                color: #fff;
            }

            .toast-header {
                color: $white;
                background-color: transparent;
            }

            .o_notification_title {
                background-color: var(--brand-primary);
                padding: 8px 0.625rem;
                margin-bottom: 10px !important;
                color: $white !important;
            }

            .o_notification_close {
                color: $white;
                margin-right: 0.5rem;
            }
            .o_notification_body {
                background-color: $tr-hover !important;
                color: white;
                padding: 0 0 1rem 0 !important;


                .o_notification_content {
                    padding: 0 5px;

                    &:first-of-type {
                        margin-top: 10px;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}